version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mongo-notifs
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: notifs
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

  mailhog:
    image: mailhog/mailhog
    container_name: mailhog
    ports:
      - "1025:1025"  
      - "8025:8025"  
    restart: unless-stopped

volumes:
  mongo_data:
